<app-post-form (customEvent)="customEventParent($event)" (customEventEdit)="customEventEditParent($event)"
    (customEventReset)="customEventResetParent($event)" [post]="selectedPost" [editable]="isEditable"></app-post-form>

<h2>Posts</h2>
<div class="card mb-3" *ngFor="let post of posts">
    <a routerLink="/post/{{post.id}}" class="post-link">
        <div class="card-body">
            <h3>{{post.title}}</h3>
            <p>{{post.body}}</p>
            <hr>
            <button (click)="deletePost(post.id)" class="btn btn-danger mr-2"><i class="fa fa-remove"></i></button>
            <button (click)="editPost(post)" class="btn btn-light"><i class="fa fa-pencil"></i></button>
        </div>
    </a>
</div>